.task-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.task-form input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: #f1f5f9;
  color: #0f172a;
  font-size: 0.95rem;
  margin-right: 10px;
}

.task-form button {
  background-color: #334155;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  width:148px;  
  font-weight: 500;
  font-size: 0.95rem;
  transition: background 0.3s ease, transform 0.2s ease;
}

.task-form button:hover {
background-color: #475569;
  transform: scale(1.05);
}
